body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    background-color: #121212;
    color: #fff;
}


h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    color: #fff;
    font-size: 15px;
    text-align: justify;
    line-height: 30px;
    margin-bottom: 30px;
}

#botaoResultadoFixo {
    position: fixed;
    top: 20px; /* Ajuste conforme necessário */
    right: 20px; /* Ajuste conforme necessário */
    z-index: 1000; /* Garante que o botão esteja acima de outros elementos */
    background-color: #dfe20d; /* Cor de fundo verde */
    color: rgb(0, 0, 0); /* Cor do texto branco */
    padding: 15px 25px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: none; /* Sem borda */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer; /* Cursor de mão ao passar o mouse */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: background-color 0.3s; /* Transição suave da cor de fundo */
}


.container {
    max-width: 600px;
    margin: auto;
}

.question {
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #1e1e1e;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.active {
    background-color: #dfe20d !important;
    color: #000 !important;
}

#barraNavegacao {
    background: #121212;
    border-bottom: 2px solid #dfe20d;
}

.question h3,
.question h5 {
    color: #fff;
}

.form-check-input:checked {
    background-color: #dfe20d !important;
}

.form-check-input {
    width: 20px;
    height: 20px;
    border: 2px solid #dfe20d;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

.form-check-input:checked::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #dfe20d;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-primary {
    background-color: #dfe20d;
    border-color: #dfe20d;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #dfe20d;
    border-color: #dfe20d;
}

.table {
    color: #000;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.table th,
.table td {
    border-color: #000;
}

.table th {
    background-color: #dfe20d;
}

a.nav-link {
    color: white;
}
